<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The Democratica Project tries to provide a simple way for people find out about current issues and tell their representatives in congress how they feel about them.</p>
