<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The Democratics Project tries to provide an simple way to people find oitu about current isses and tell their local representatives how they feel about them  </p>
