        <small>
          <ul class="button-group comment-links" >
            <% if signed_in? and current_user?(comment.user) %>
              <li><%= link_to 'edit', 
                        edit_comment_path(comment, 
                          rally_id: comment.rally_id,                    
                          #parent_id: comment.parent_id
                          ), class: "tiny button secondary" %></li>         
            <% end %>
          </ul> 
        </small>