<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<p><b>State: </b> <%= @user.state %></p>
<p><b>Congressional District: </b><%= @user.district %></p>
<% if @user.identity %>
  <p><b>Twitter UID: </b><%= @user.identity.uid %></p>
<% end %>