<div class="large-12 small-12 columns">
  <div class="row rallies">
    <div class="large-9 small-12 columns">
      <ul>
        <% @rallies.each do |rally| %>
          <% @rally = rally%>
          <%= render 'rallies/rally_card'%>
        <% end %>
      </ul>
    </div>
  </div>
</div>
