<%= render 'rally_card', rally: @rally %>
<div class="row">
  <div class="large-12 small-12 columns">
    <div class="rally-content">
      <p><%= @rally.content %></p>
      <p>
        <strong>Twitter template:</strong>
        <% if signed_in? %>
          <%= "#{@rally.twitter_template} #{@senator_handles} #{@representative_handle}" %>
        <% else %>
          <%= "#{@rally.twitter_template} @YourSenators @YourRepresentative" %>
        <% end %>
        
      </p>    
    </div>
  </div>
  <hr>  
</div>