<%= render 'rally_card', debate: @rally %>
<div class="row">
  <div class="large-12 small-12 columns">
    <div class="debate-content">
      <p><%= @rally.content %></p>
      <p>
        <strong>Twitter template:</strong>
        <%= @rally.twitter_template %>
      </p>
      <%= link_to 'Tweet', tweets_path(tweet: { message: @rally.twitter_template }), 
        class: "button", method: :post, remote: true,  data: { confirm: "Tweet the template?" } %>
     
    </div>
  </div>
  <hr>  
</div>