/* Make font-size for small class within forms larger  */
.simple_form {
  small {
    font-size: 75%
  }
}

/* Application body */

.body {
  padding: 30px; 
}

.fullWidth {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLighter: #eee;

/* Debug box */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*  Rallies */
.rally-grid-spacing {
  > li:first-child {
    width:105px;
  }

  > li:last-child {
    width: 73%;
  } 
}

.score-grid {
  text-align: center;  
  margin-top: 10px;
}



div.alert-box {
  margin-top: 8px;
}

ul.comment-links {
  .tiny {
    padding-top: 0.2rem;
    padding-right: .25rem;
    padding-bottom: 0.2rem;
    padding-left: .25rem;
  }
}

/*  Comments */

.row.panel.comment {
  padding-left: 5px;
  padding-right: 5px;  
}

.comment-score-grid {
  text-align: center;  
}

.comment-grid-spacing {
  > li:first-child {
    width: 50px;
  }

  > li:last-child {
    width: 73%;
  } 
}

/*
.panel.comment {
  padding-top: .75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.1rem;
  paddin-right: 0.1rem;  
}
*/

.spacer-column {
  padding-left: 1rem;
  paddin-right: 0.1rem;   
  
}

.comment-voting-buttons {
  padding-right: 0rem;
  padding-left: 2rem;
  width: 3rem;   
}

.vote.unclicked {
  a {
    &:hover {
      color: #00CED1;
    }
  }
}

.vote.clicked {
  a {
    color: #00CED1;
  }
}

.comment-vote-button.unclicked {
  a {
    &:hover {
      color: #00CED1;
    }
  }
}

.comment-vote-button.clicked {
  a {
    color: #00CED1;
  }
}

.body {
  padding: 30px; 
}

ul.argument-post-links {
  .tiny {
    padding-top: 0.2rem;
    padding-right: .25rem;
    padding-bottom: 0.2rem;
    padding-left: .25rem;
  }
}