/* Application body */

.body {
  padding: 30px; 
}

.fullWidth {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLighter: #eee;

/* Debug box */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*  Rallies */
.rally-grid-spacing {
  > li:first-child {
    width:105px;
  }

  > li:last-child {
    width: 73%;
  } 
}

.score-grid {
  text-align: center;  
  margin-top: 10px;
}

