<h2>Update your congressional district to identify your representative</h2>
<%= render 'users/user_district_form', submit_label: "Submit" %>

<h5>Don't know your congressional district? we can help you find it!</h5>
<%= render 'find_congressional_district/form' %> 