<h2>Thanks of signing up</h2>
<%= render 'users/user_district_form',  submit_label: "Next" %>

<h5>Don't know your congressional district? we can help you find it!</h5>
<%= render 'find_congressional_district/form' %>