    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Democratica", root_path %></h1>
        </li>
        <!-- Mobile Menu Toggle -->
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </section>
    </nav>