<div class="hide-for-small">
  <div class="sidebar">
    <h5>Side Bar</h5>
    <%= link_to "Start a new rally!", new_rally_path, class: "button expand" %>
    <nav>
      <ul class="side-nav">
        <li class="heading">Helpful Links</li>
        <li><%= link_to "All Congress Members", congress_members_path %></li>
      </ul>
    </nav>
  </div>
</div>